<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link href="/images/logo.ico" rel="icon" type="image/x-ico">
    <link rel="stylesheet" type="text/css" href="/css/us.css"/>
</head>
<body>
    <div th:replace="head::head"></div>

    <main>
        <div class="us-info">
            <h2>关于我们</h2>
            <p>&emsp;&emsp;此网站为Demo，仅供学习使用。如您在使用过程中遇见异常，或者发现某些描述错误，请联系我们。我们会尽力解决异常。感谢您的使用。</p>
            <p>联系方式：</p>
            <p>邮箱：<a href="mailto:zyangsqlboy@163.com">zyangsqlboy@163.com</a></p>
            <p>QQ：2623642447</p>
            <p>手机号：********</p>
            <h2 style="margin-top: 20px;">加入我们</h2>
            <p>&emsp;&emsp;如果您想加入我们，为了维护这个网站，纠正某些错误的数据，或者网页页面设计有美化的想法，请加入我们！</p>
            <p>加入方式：请通过以上联系方式联系我们</p>
        </div>
    </main>
</body>
</html>