<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http:mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zyang.neev.dao.BookMapper">
    <resultMap id="bookMapper" type="indi.zyang.neev.entity.Book">
        <id property="bookId" column="bookId"/>
    </resultMap>

    <select id="findBookByBookId" resultMap="bookMapper">
        select * from book where bookId = #{bookId}
    </select>
    <select id="findBookByBookName" resultMap="bookMapper">
        select * from book where bookName like concat("%", #{bookName}, "%")
    </select>
    <select id="findBookByPage" resultMap="bookMapper">
        select * from book limit #{start}, #{size}
    </select>
    <select id="findBookByHerbInfoId" resultMap="bookMapper">
        select * from book
        where bookId in (select bookId from hi_b_r where herbInfoId = #{herbInfoId})
    </select>
    <select id="findBookByPrescriptionInfoId" resultMap="bookMapper">
        select * from book
        where bookId in (select bookId from pi_b_r where prescriptionInfoId = #{prescriptionInfoId})
    </select>

    <insert id="insertBook" parameterType="book" useGeneratedKeys="true" keyProperty="bookId" keyColumn="bookId">
        insert into book(bookName) values(#{bookName})
    </insert>

    <update id="updateBook" parameterType="book">
        update book set bookName = #{bookName} where bookId = #{bookId}
    </update>

    <delete id="deleteBookByBookId" parameterType="int">
        delete from book where bookId = #{bookId}
    </delete>
</mapper>