<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http:mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zyang.neev.dao.DiseaseMapper">
    <resultMap id="diseaseMapper" type="indi.zyang.neev.entity.Disease">
        <id property="diseaseId" column="diseaseId"/>
    </resultMap>
    
    <select id="findDiseaseByDiseaseId" resultMap="diseaseMapper">
        select * from disease where diseaseId = #{diseaseId}
    </select>
    <select id="findDiseaseByPage" resultMap="diseaseMapper">
        select * from disease order by diseaseId asc limit #{start}, #{size}
    </select>
    <select id="findDiseaseByDiseaseName" resultMap="diseaseMapper">
        select * from disease where diseaseName like concat("%", #{diseaseName}, "%")
    </select>
    <select id="findDiseaseByHerbInfoId" resultMap="diseaseMapper">
        select * from disease
        where diseaseId in (select diseaseId from hi_d_r where herbInfoId = #{herbInfoId})
    </select>
    <select id="findDiseaseByPrescriptionInfoId" resultMap="diseaseMapper">
        select * from disease
        where diseaseId in (select diseaseId from pi_d_r where prescriptionInfoId = #{prescriptionInfoId})
    </select>
    
    <insert id="insertDisease" parameterType="disease" useGeneratedKeys="true" keyProperty="diseaseId" keyColumn="diseaseId">
        insert into disease(diseaseName) values(#{diseaseName})
    </insert>
    
    <update id="updateDisease" parameterType="disease">
        update disease set diseaseName = #{diseaseName} where diseaseId = #{diseaseId}
    </update>

    <delete id="deleteDiseaseByDiseaseId" parameterType="int">
        delete from disease where diseaseId = #{diseaseId}
    </delete>
</mapper>